/* This file contains the CSS styles for the frontend of the application */

/* https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_cascading_variables/Using_CSS_custom_properties */
:root {
    /* https://getbootstrap.com/docs/5.3/customize/color/ */
    --bs-primary: #3B7D23;
    --bs-primary-rgb: 59, 125, 35;
    --bs-primary-border-subtle: #3B7D23;
    --bs-body-bg: #F2F2F2;
    --bs-body-bg-rgb: 242, 242, 242;

    /* Quad Core Dev Vars */
    --qd-color-water: #00B0F0;
    --qd-color-water-rgb: 0, 176, 240;
    --qd-color-water: #754005;
    --qd-color-water-rgb: 117, 64, 5;
}

main {
    margin-top: 24pt;
}

.nav-item {
    font-size: 15pt;
}

.navbar .active {
    font-weight: bold !important;
}

.btn-primary{
    background-color: var(--bs-primary) !important;
    border-color: var(--bs-primary) !important;
}

.btn-water{
    background-color: var(--qd-color-water) !important;
    border-color: var(--qd-color-water) !important;
    color: white !important;
}

.bg-water{
    background-color: var(--qd-color-water) !important;
}

.card-title {
    color: var(--bs-primary) !important;
    font-weight: bold !important;
}

.rounded-bottom-0 {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.card {
    background-color: white !important;
}

.card-footer {
    background-color: white !important;
}

.text-water {
    color: var(--qd-color-water);
}